.product-card {
  width: 240px;
  border-radius: 8px;
  background-color: var(--white);
  font-family: var(--lat);
  position: relative;
}

.product-card-category{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;

  .product-image {
    flex-shrink: 0;
    width: 140px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .product-info {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  .product-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 10.4rem;
    margin-bottom: 8px;
  }

  .btn-padrao {
    min-width: 12rem;
  }
}

.promo{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 6px 16px 6px 12px;
  background: var(--strong-pink);
  color: var(--white);
  font: 700 0.8rem/1 var(--lat);
  border-radius: 16px 0 0 0;
}

.porcentagemPromo{
  background: var(--strong-pink);
  color: var(--white);
  font: 400 1rem/1 var(--lat);
  padding: 6px;
  border-radius: 8px;
  white-space: nowrap;
  max-width: 75px;
  text-align: center;
}

.product-image {
  height: 200px;

  img {
    min-width: fit-content;
    max-height: 200px;
    object-fit: contain;
    object-position: center bottom;
  }
}

.product-title {
  font-family: var(--mer);
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  margin: 0 0 2px;
  height: 2.7em;

  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp:2;
  -webkit-box-orient: vertical;

  max-width: 10rem;
  line-height: 1.2em;
  max-height: 2.4em;
}

.old-price {
  font-size: 1rem;
  color: #bbb;
  text-decoration: line-through;
}

.main-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.pix-price-container {
  display: inline-flex;
  align-items: center;
  min-width: 9rem;
  gap: 4px;
}

.pix-price {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.via-pix {
  font-weight: 400;
  color: #666;
}

:host-context(swiper-slide) .product-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  aspect-ratio: 1 / 1;
}

:host-context(swiper-slide) .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
