@let isHandset = (breakpoint.isHandset$ | async);

<section class="container-fluid p-3 d-flex flex-column justify-content-between gap-5">

  <div class="d-flex justify-content-between mt-2 ">

    <div class="d-flex">
      <button
        type="button"
        id="btn-admin-home"
        class="btn d-flex align-items-center gap-2 px-4 py-3 shadow-sm rounded-pill"
        style="background: var(--green); color: white;"
        routerLink="/admin/home"
      >
        <mat-icon fontSet="material-symbols-outlined">home</mat-icon>
        <span class="fw-bold" style="font-family: var(--lat);" [class.visually-hidden]="isHandset">Voltar para Home</span>
      </button>
    </div>

    <div class="d-flex">

      <button
        type="button"
        id="btn-add-product"
        class="btn d-flex align-items-center gap-2 px-4 py-3 shadow-sm rounded-pill"
        style="background: var(--green); color: white;"
        (click)="redirectCreateProduct()"
      >
        <mat-icon fontSet="material-symbols-outlined">add_circle</mat-icon>
        <span class="fw-bold" style="font-family: var(--lat);" [class.visually-hidden]="isHandset">Adicionar Produto</span>
      </button>

    </div>

  </div>

  <div>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <div class="col d-flex flex-column flex-md-row gap-md-3">

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              type="text"
              id="field-name"
              formControlName="name"
              placeholder="Digite o nome"
            >
          </mat-form-field>

        </div>

        <div class="row w-100">

        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input
            matInput
            type="number"
            id="field-cod"
            (keydown)="preventNegative($event)"
            formControlName="cod"
            placeholder="Digite o código"
            min="1"
            step="1"
          >
        </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Porcentagem da Promoção</mat-label>
            <input
              matInput
              type="text"
              id="input-promoPercentage"
              formControlName="promoPercentage"
              appPercentageSuffix
              placeholder="Digite a porcentagem de promoção do produto"
            >
          </mat-form-field>

        </div>

      </div>

      <div class="col d-flex flex-column flex-md-row gap-md-3">

        <div class="row w-100">

          <mat-form-field appearance="outline">
              <mat-label>Preço cheio</mat-label>
              <input
                matInput
                type="text"
                id="input-fullPrice"
                formControlName="fullPrice"
                appCurrencyMask
                placeholder="Digite o preço cheio do produto"
              >
            </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select
              id="select-category"
              formControlName="categories"
              placeholder="Selecione a categoria"
            >
            @for(cat of allCategories; track cat){
              <mat-option [value]="cat" >{{cat | displayCategory }}</mat-option>
            }
            </mat-select>

          </mat-form-field>

        </div>

      </div>

      <div class="col d-flex flex-column flex-md-row gap-md-3 align-items-center justify-content-between">

        <div>
          <mat-checkbox
            formControlName="active"
            id="checkbox-active"
          >
            Ativo
          </mat-checkbox>
        </div>

        <div class="d-flex flex-row gap-3">

          <div>
            <button
              class="btn btn-warning p-3 rounded-3 w-100"
              id="btn-reset"
              (click)="resetForm()"
              type="button"
            >
              Limpar
            </button>
          </div>

          <div>
            <button
              class="btn btn-success p-3 rounded-3 w-100"
              id="btn-filter"
              (click)="onSubmit()"
              type="submit"
            >
              Filtrar
            </button>
          </div>

        </div>

      </div>

    </form>

  </div>

  <hr class="my-0 border-2">

  <div>
    <app-data-table
        [data$]="productService.products$"
        [displayedColumns]="columns"
        (edit)="redirectEditProduct($event)"
        (active)="changeActive($event)"
      >
    </app-data-table>
  </div>

</section>
