.btn {
  transition: transform 0.3s ease;
  will-change: transform;
}

.btn:hover {
  transform: translateY(-4px);
}

@media (hover: none) and (pointer: coarse) {
  .btn,
  .btn:hover{
    transition: none !important;
    transform: none !important;
    will-change: auto !important;
  }
}
