@let isHome = isHome$ | async;
@let isHandset = breakpointService.isHandset$ | async;

<header class="d-flex justify-content-center flex-column gap-4 shadow-sm sticky-top bg-white">

  @if(isHome){
  <div class="banner" role="region" aria-label="promoções">
    <div class="banner-track">
      <span>Cupom BEMVINDO ganhe 10% • Frete grátis a partir de R$300</span>
      <span aria-hidden="true" class="d-md-none">Cupom BEMVINDO ganhe 10% • Frete grátis a partir de R$300</span>
    </div>
  </div>
  }

  <div class="d-flex justify-content-between align-items-center position-relative" [ngClass]="{'pb-4':isHome, 'my-3': !isHome}">

    @if(!isHome){
    <div class="ms-4 ps-md-5 ms-md-5">
     <a
      id="link-back"
      (click)="back()"
     >
        <mat-icon>arrow_back</mat-icon>
     </a>
    </div>
    }

    @if(isHome){
    <div class="position-absolute start-50 translate-middle-x">
      <a
        [matTooltip]="(breakpointService.isHandset$ | async) ? null : 'Ir para a página inicial'"
        matTooltipPosition="below"
        routerLink="/"
        style="display: inline-block"
        id="link-home"
      >
        <img
          src="assets/img/logo.webp"
          alt="Logo Fragrâncias Decor"
          style="display: block"
          [class.imgSmall]="isHandset"
        />
      </a>
    </div>
    }@else{
      <div class="position-absolute start-50 translate-middle-x text-center">
        <h1 style="font-family: var(--mer); font-size: 1.2rem; font-weight: 700;" class="title">
          {{ title() }}
        </h1>
      </div>
    }

    <div class="d-flex ms-auto me-3 pe-md-5 me-md-5 align-items-center" [class.me-4]="!isHome">
      @if(isAdmin){
      <div>
        <button
          matTooltip="Painel do Admin"
          matTooltipPosition="below"
          mat-icon-button
          color="primary"
          routerLink="/admin"
          id="link-redirect-admin"
          class="btn border-0 bg-transparent p-0"
        >
          <mat-icon fontSet="material-symbols-outlined">admin_panel_settings</mat-icon>
        </button>
      </div>
      }
      <app-header-cart/>
    </div>

  </div>

</header>
