@let product = product$ | async;

<section class="card-product d-flex flex-column gap-3 p-md-5 mt-md-5">

  <div>
    <button
      type="button"
      id="btn-share-product"
      mat-icon-button
      [matMenuTriggerFor]="shareMenu"
      class="btn btn-outline-dark share-btn"
    >
      <mat-icon class="d-flex">open_in_new</mat-icon>
    </button>
  </div>

  <!-- Menu -->
  <mat-menu #shareMenu="matMenu" class="share-menu">

    <button mat-menu-item (click)="shareWhatsapp()">
      <img src="assets/icon/whatsApp.webp" width="30" height="30" class="me-2" alt="Icon WhatsApp"/>
      <span>WhatsApp</span>
    </button>

  <mat-divider></mat-divider>

    <button mat-menu-item (click)="copyLink()">
      <mat-icon>link</mat-icon>
      <span>Copiar link</span>
    </button>

  </mat-menu>

  <div class="d-flex justify-content-evenly">

    <div class="product-image mb-2">
      <img
        [src]="product?.image"
        alt="Produto"
      />
    </div>

    <div class="d-flex flex-column mt-5 mx-2 rounded-3 product-info-container" >

      <div class="product-info">

        <h1 class="product-title">{{ product?.name }}</h1>

        <div
          class="old-price"
          [style.visibility]="product?.currentPrice === product?.fullPrice ? 'hidden' : 'visible'"
        >
          {{product?.fullPrice | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
        </div>

        <div class="main-price">
              {{product?.currentPrice | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
        </div>

        <div class="pix-price-container">
          <span class="pix-price">{{product?.pixPrice | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
          <span class="via-pix"> Via Pix</span>
        </div>

      </div>

      <div class="d-flex align-items-baseline gap-3 flex-row">

        <div class="quantity-selector">

          <button type="button" (click)="decrease()">-</button>

          <span>{{ amount }}</span>

          <button type="button" (click)="increase()">+</button>

        </div>

        <app-standard-btn
            class="btn-padrao"
            (event)="addCart(product!)"
          />

      </div>

    </div>

  </div>

  <div>
    <div class="markdown-preview" [innerHTML]="product?.description! | markdown"></div>
  </div>

</section>
