<swiper-container
  #swiperEl
  [breakpoints]="{
    '0': { 'slidesPerView': 1.8 },
    '500': { 'slidesPerView': 2.3 },
    '768': { 'slidesPerView': 3.1 },
    '950': { 'slidesPerView': 3.3 },
    '1050': { 'slidesPerView': 3.5 },
    '1200': { 'slidesPerView': 3.5 },
    '1400' : { 'slidesPerView': 4.2 },
    '1600' : { 'slidesPerView': 4.7 },
    '1900' : { 'slidesPerView': 4.9 }
  }"
  observer="true"
  observe-parents="true"
  update-on-window-resize="true"
  update-on-images-ready="true"
  navigation="false"
  pagination='{"clickable": true}'
  class="novidades-swiper"
>
@for(produto of (products$ | async); track produto._id){
  <swiper-slide>
    <app-product-card [product]="produto" />
  </swiper-slide>
}
</swiper-container>
