@let isPainel = isPainel$ | async;
@let isHandset = breakpoint.isHandset$ | async;

<mat-drawer-container class="sidenav-container" autosize>

      <mat-drawer
        #drawer
        [mode]="isHandset ? 'over' : 'side'"
        style="background: var(--green);"
        [opened]="!isHandset && isPainel"
      >
        <app-admin-header/>
      </mat-drawer>

      <mat-drawer-content>

        <header style="background-color: var(--white);" class="container-fluid shadow-sm p-4">

          <div class="d-flex align-items-center justify-content-between py-3 position-relative">
            <button class="border-0 bg-transparent ms-md-3" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>

            <div class="position-absolute top-50 start-50 translate-middle">

              <p class="fs-1" style="font-family: var(--mer);">
                {{title}}
              </p>

            </div>

            <div>
              <button class="border-0 bg-transparent me-1 me-md-3" (click)="logout()">
                <mat-icon title="Sair" fontSet="material-symbols-outlined">exit_to_app</mat-icon>
              </button>
            </div>

          </div>
        </header>

        <main
          class="container-fluid py-3"
          (click)="drawer.opened ? drawer.close() : null"
          tabindex="0"
          (keydown)="drawer.opened ? drawer.close() : null">
          <app-admin-layout></app-admin-layout>
        </main>

      </mat-drawer-content>

</mat-drawer-container>
