<section class="search-container">

  <form>
    <mat-form-field class="search-field" appearance="outline">
      <input
        #input
        id="input-autocomplete"
        matInput
        placeholder="Encontre um produto"
        aria-label="Produtos"
        [matAutocomplete]="auto"
        [formControl]="prodCtrl"
      >

      @if(prodCtrl.value){
      <button
        mat-icon-button
        matSuffix
        aria-label="Clear"
        (click)="clearFilter($event)"
        id="button-clear"
        class="border-0 bg-transparent pe-3"
      >
        <mat-icon>close</mat-icon>
      </button>
      }

      <mat-autocomplete
        #auto="matAutocomplete"
        class="d-flex flex-column gap-2 custom-autocomplete"
        (optionSelected)="onProductSelected($event.option.value)"
        [displayWith]="displayFn"
      >
        @for (data of  (filtered$ | async); track data._id) {
          <mat-option [value]="data.name" [id]="'option-' + data._id">
            <img alt="Product image" class="option-img" [src]="data.image" height="55">
            <span
              class="option-name"
              matTooltip="{{ data.name }}"
              matTooltipShowDelay="300"
            >
              {{ data.name }}
            </span>
          </mat-option>
        }
      </mat-autocomplete>

    </mat-form-field>

  </form>

</section>
