@if(loadingService.isLoading$ | async){
<div class="loading-overlay">
  <div class="spinner-wrap">
    <div class="css-spinner"></div>
  </div>
</div>
}

@if(!(layoutService.hideHeader$ | async) && !(layoutService.isAdmin$ | async)){
<app-header
  [isHome$]="layoutService.isHome$"
  [isProduto$]="layoutService.isProduto$"
  [isCategoria$]="layoutService.isCategoria$"
  [title]="layoutService.title()"
/>
}

<router-outlet/>

@if(!(layoutService.hideFooter$ | async)){
<app-footer/>
}

<app-scroll-top-btn></app-scroll-top-btn>
