<div class="container-fluid">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="d-flex d-inline-block">

    <mat-card class="d-flex align-items-center m-auto h-auto p-3 shadow-lg">

       <mat-card-header class="mb-4">
          <div class="d-flex flex-column gap-2 text-center w-100">
            <mat-card-title class="fw-bold fs-2">Bem vindo!</mat-card-title>
            <mat-card-subtitle class="fw-semibold fs-4">Faça seu cadastro</mat-card-subtitle>
          </div>
       </mat-card-header>


        <mat-card-content class="d-flex flex-column gap-3" >

          <mat-form-field floatLabel="always" appearance="outline" >

            <input
              type="text"
              id="name"
              formControlName="name"
              matInput
              placeholder="Insira seu Nome"
            >
              <mat-label>Nome</mat-label>

              <mat-error *ngIf="hasFormError(registerForm,'name','required')">
                  Nome é <strong>obrigatório!</strong>
              </mat-error>

              <mat-error *ngIf="hasFormError(registerForm,'name','minlength')">
                  No mínimo <strong>2 caracteres!</strong>
              </mat-error>

              <mat-error *ngIf="hasFormError(registerForm,'name','maxlength')">
                  No máximo <strong>40 caracteres!</strong>
              </mat-error>

          </mat-form-field>

        <div class ="row">

          <div class="col">
              <mat-form-field floatLabel="always" appearance="outline" class="w-100">

                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  matInput
                  placeholder="Insira seu E-mail"
                >
                  <mat-label>E-mail</mat-label>
                  <mat-hint>exemplo&#64;exemplo.com</mat-hint>

                  <mat-error *ngIf="hasFormError(registerForm,'email','required')">
                      E-mail é <strong>obrigatório!</strong>
                  </mat-error>

                  <mat-error *ngIf="hasFormError(registerForm,'email','email')">
                      Insira um E-mail <strong>válido!</strong>
                  </mat-error>

              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field floatLabel="always" appearance="outline" class="w-100" >

                <input
                  type="text"
                  id="confirmEmail"
                  formControlName="confirmEmail"
                  matInput
                  placeholder="Confirme seu E-mail"
                >
                  <mat-label>Confirmação - E-mail</mat-label>

                  <mat-error *ngIf="hasFormError(registerForm,'confirmEmail','required')">
                      E-mail é <strong>obrigatório!</strong>
                  </mat-error>

                  <mat-error *ngIf="!hasFormError(registerForm,'confirmEmail','required') && hasFormError(registerForm,'confirmEmail','matchFieldsValidator')">
                      Os E-mails não são <strong>iguais!</strong>
                  </mat-error>

              </mat-form-field>
            </div>

        </div>

        <div class="row">

          <div class="col">
              <mat-form-field floatLabel="always" appearance="outline" class="w-100">

                <input
                  [type]="hide() ? 'password' : 'text'"
                  id="password"
                  formControlName="password"
                  matInput
                  placeholder="Insira sua Senha"
                >
                  <button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                    style="margin-right: 0.4em;"
                  >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                  <mat-label>Senha</mat-label>

                  <mat-error *ngIf="hasFormError(registerForm,'password','required')">
                      Senha é <strong>obrigatório!</strong>
                  </mat-error>

                  <mat-error *ngIf="hasFormError(registerForm,'password','minlength')">
                      Senha precisa ter no mínimo <strong>6 caracteres!</strong>
                  </mat-error>

              </mat-form-field>
          </div>

          <div class="col">
              <mat-form-field floatLabel="always" appearance="outline" class="w-100" >

                <input
                  [type]="hide() ? 'password' : 'text'"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  matInput
                  placeholder="Confirme sua Senha"
                >
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide confirmPassword'"
                    [attr.aria-pressed]="hide()"
                    style="margin-right: 0.4em;"
                  >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                  <mat-label>Confirmação - Senha</mat-label>

                  <mat-error *ngIf="hasFormError(registerForm,'confirmPassword','required')">
                      Confirmação é <strong>obrigatório!</strong>
                  </mat-error>

                  <mat-error *ngIf="!hasFormError(registerForm,'confirmPassword','required') && hasFormError(registerForm,'confirmPassword','matchFieldsValidator')">
                      As Senhas não são <strong>iguais!</strong>
                  </mat-error>

              </mat-form-field>
          </div>

        </div>

        </mat-card-content>

        <mat-card-actions>
            <button
                class="btn btn-success px-5 py-3"
                type="submit"
                [disabled]="!registerForm.valid"
                >
                <strong>CADASTRAR</strong>
            </button>
        </mat-card-actions>

        <mat-card-footer>
            <p>
              Ja possui uma Conta? Faça <a routerLink="/login" class="text-decoration-none text-reset fw-medium">LOGIN</a>
            </p>
        </mat-card-footer>

    </mat-card>

  </form>

</div>
