<section class="card-checkout d-flex flex-column gap-3 p-md-5 mt-md-0">

  <h1 style="font-family: var(--mer);">Preencha as informações</h1>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome completo</mat-label>
        <input
          matInput
          type="text"
          id="input-fullName"
          formControlName="fullName"
          placeholder="Insira seu nome completo"
        >
        @if(hasFormError(checkoutForm, 'fullName', 'required')){
        <mat-error>
          Seu nome completo é obrigatório
        </mat-error>
        }
      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          id="input-email"
          formControlName="email"
          placeholder="Insira seu email"
        >

        @if(hasFormError(checkoutForm, 'email', 'required')){
        <mat-error>
          Email é obrigatório
        </mat-error>
        }

        @if(hasFormError(checkoutForm, 'email', 'email')){
        <mat-error>
          Insira um email válido
        </mat-error>
        }

      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>CPF/CNPJ</mat-label>
        <input
          matInput
          type="text"
          id="input-cpfOrCnpj"
          formControlName="cpfOrCnpj"
          placeholder="Insira seu CPF/CNPJ"
          appOnlyNumber
        >
        <mat-hint>Somente números</mat-hint>

        @if(hasFormError(checkoutForm, 'cpfOrCnpj', 'required')){
        <mat-error>
          CPF/CNPJ é obrigatório
        </mat-error>
        }

        @if(!hasFormError(checkoutForm, 'cpfOrCnpj', 'required') && hasFormError(checkoutForm, 'cpfOrCnpj', 'notCPForCNPJ')){
        <mat-error>
          Insira um CPF ou CNPJ válido!
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Endereço</mat-label>
        <textarea
          matInput
          id="textarea-address"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          formControlName="address"
          placeholder="Insira seu endereço"
        ></textarea>
        <mat-hint>Endereço para entrega</mat-hint>

        @if(hasFormError(checkoutForm, 'address', 'required')){
        <mat-error>
          Endereço é obrigatório
        </mat-error>
        }

        @if(hasFormError(checkoutForm,'address','minlength')){
        <mat-error>
          O Endereço deve ter pelo menos 5 caracteres
        </mat-error>
        }

        @if(hasFormError(checkoutForm,'address','maxlength')){
        <mat-error>
          O Endereço pode ter no máximo 150 caracteres
        </mat-error>
        }

        @if(hasFormError(checkoutForm,'address','pattern')){
        <mat-error>
          Caracteres inválidos foram usados
        </mat-error>
        }

      </mat-form-field>

    </div>

    <div>
      <button
        type="submit"
        id="btn-end"
        class="btn btn-success w-100 fw-bold rounded-2 mt-4"
        [disabled]="checkoutForm.invalid"
      >
        FINALIZAR
      </button>
    </div>

  </form>

</section>
