<footer style="background-color: var(--white); font-family: var(--mer);" class="shadow-lg py-5 mt-5">
  <div class="container">
    <div class="row g-3 text-center">

      <!-- Empresa -->
      <div class="col-12 col-md-4">
        <h5>Fragrâncias Decor</h5>
        <p class="small mb-1">Águas Claras - DF</p>
        <p class="small mb-1">
          <i class="bi bi-whatsapp fs-5"></i>
          <a
            href="https://wa.me/5561999999999"
            class="text-decoration-none"
            id="link-whats-app"
            >
             WhatsApp
          </a>
        </p>
        <p class="small mb-0 d-md-block d-flex justify-content-center align-items-center gap-1">
          <i class="bi bi-envelope-fill fs-5"></i>
          <a
            href="mailto:fragranciasdecor@gmail.com"
            class="text-decoration-none"
            id="link-gmail"
          >
            fragranciasdecor&#64;gmail.com
          </a>
        </p>
      </div>

      <!-- Redes sociais -->
      <div class="col-12 col-md-4">
        <h6>Redes sociais</h6>
        <a
          href="https://www.instagram.com/fragrancias_e_decor/"
          target="_blank"
          class="fs-3"
          id="link-instagram"
        >
          <i class="bi bi-instagram"></i>
        </a>
      </div>

      <!-- Pagamentos -->
      <div class="col-12 col-md-4">
        <h6>Formas de pagamento</h6>
        <div class="d-flex flex-column mt-2 ">
          <!-- Pix -->
          <img src="/assets/img/pix.webp" alt="Pix" class="w-auto object-fit-contain" style="height: 2.5rem;" />

          <!-- Visa + Mastercard -->
          <div class="d-flex gap-2 mt-4 align-items-center justify-content-center">
            <img src="/assets/img/visa.webp" alt="Visa" class="w-auto object-fit-contain" style="height: 1.5rem;"/>
            <img src="/assets/img/masterCard.webp" alt="Mastercard" class="w-auto object-fit-contain" style="height: 2rem;" />
          </div>

          <!-- Boleto -->
          <img src="/assets/img/boleto.webp" alt="Boleto" class="w-auto object-fit-contain" style="height: 5rem;" />
        </div>
      </div>

    </div>

    <hr class="border-secondary my-4">

    <p class="text-center small mb-0">
      © 2025 Fragrâncias Decor — Todos os direitos reservados.
    </p>
  </div>
</footer>
