<footer style="background-color: var(--white); font-family: var(--mer);" class="shadow-lg py-5 mt-5">
  <div class="container">
    <div class="row g-3 text-center">

      <!-- Empresa -->
      <div class="col-12 col-md-4">
        <h5 class="fw-bolder">Fragrâncias Decor</h5>
        <p class="small mb-1">Águas Claras - DF</p>
        <p class="small">
          <img
            src="/assets/icon/whatsApp.webp"
            alt="Icon Instagram"
            class="w-auto object-fit-contain"
            style="height: 2.5rem;"
          >
          <a
            href="https://wa.me/5561999999999"
            class="text-decoration-none"
            id="link-whats-app"
            >
             WhatsApp
          </a>
        </p>
        <p class="small mb-3 d-md-block d-flex justify-content-center align-items-center gap-2">
          <img
            src="/assets/icon/gmail.webp"
            alt="Icon gmail"
            class="w-auto object-fit-contain me-2"
            style="height: 1.2rem;"
          >
          <a
            href="mailto:fragranciasdecor@gmail.com"
            class="text-decoration-none"
            id="link-gmail"
          >
            fragranciasdecor&#64;gmail.com
          </a>
        </p>
      </div>

      <!-- Redes sociais -->
      <div class="col-12 col-md-4 mb-3">
        <h5 class="fw-bolder">Redes sociais</h5>
        <a
          href="https://www.instagram.com/fragrancias_e_decor/"
          target="_blank"
          class="fs-3"
          id="link-instagram"
        >
        <img
          src="/assets/icon/instagram.webp"
          alt="Icon Instagram"
          class="w-auto object-fit-contain"
          style="height: 2.5rem;"
        >
      </a>
      </div>

      <!-- Pagamentos -->
      <div class="col-12 col-md-4">
        <h5 class="fw-bolder">Formas de pagamento</h5>
        <div class="d-flex flex-column mt-2 ">
          <!-- Pix -->
          <img src="/assets/icon/pix.webp" alt="Pix" class="w-auto object-fit-contain" style="height: 2.5rem;" />

          <!-- Visa + Mastercard -->
          <div class="d-flex gap-2 mt-4 align-items-center justify-content-center">
            <img src="/assets/icon/visa.webp" alt="Visa" class="w-auto object-fit-contain" style="height: 1.5rem;"/>
            <img src="/assets/icon/masterCard.webp" alt="Mastercard" class="w-auto object-fit-contain" style="height: 2rem;" />
          </div>

          <!-- Boleto -->
          <img src="/assets/icon/boleto.webp" alt="Boleto" class="w-auto object-fit-contain" style="height: 5rem;" />
        </div>
      </div>

    </div>

    <hr class="border-secondary my-4">

    <p class="text-center small mb-0">
      © 2025 Fragrâncias Decor — Todos os direitos reservados.
    </p>
  </div>
</footer>
