<div
  class="upload-container"
  [class.dragging]="dragging"
  (drop)="onFileDropped($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)">

  <mat-icon class="upload-icon">cloud_upload</mat-icon>

  @if(!fileName){
  <p>Arraste e solte um arquivo aqui<br>ou</p>
  }

  <div class="d-flex gap-2" *ngIf="fileName">
    <p ><strong>{{ fileName }}</strong></p>
    <button
      id="btn-delete"
      type="button"
      class="border-0 bg-transparent d-flex"
      (click)="removeFile($event)"
      style="cursor: pointer;"
      matTooltip="Exclua imagem"
      aria-label="Remover imagem"
    >
      <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    </button>
  </div>

  <button
    mat-raised-button
    class="botao"
    (click)="fileInput.click()"
    type="button"
    id="btn-select"
  >
    Selecionar Arquivo
  </button>
  <input
    id="input-file"
    #fileInput
    type="file"
    hidden
    accept="image/*"
    (change)="onFileInputChange($event)"
  />
</div>
