.banner {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 600px) {
    aspect-ratio: 4 / 3;
  }

  @media (min-width: 601px) and (max-width: 1000px) {
    aspect-ratio: 16 / 9;
  }

  @media (min-width: 1001px) {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 3 / 1;
  }
}
