@let isHandset = (breakpoint.isHandset$ | async);

<section class="container-fluid p-3 d-flex flex-column justify-content-between gap-5">

  <div class="mt-5">

    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

      <div class="col d-flex flex-column flex-md-row gap-md-3">

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input
              matInput
              type="text"
              id="field-id"
              formControlName="_id"
              placeholder="Digite o Id"
            >
          </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select
              id="select-status"
              formControlName="status"
              placeholder="Selecione o status"
            >
            @for(status of statusList; track status){
              <mat-option [value]="status" >{{status}}</mat-option>
            }
            </mat-select>

          </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Mínimo de unidades</mat-label>
            <input
              matInput
              type="number"
              id="field-totalUnits"
              formControlName="totalUnits"
              placeholder="Digite o mínimo total de unidades"
              min="1"
              step="1"
            >
          </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Pedidos no últimos X dias</mat-label>
            <input
              matInput
              type="number"
              id="field-daysAgo"
              formControlName="daysAgo"
              placeholder="Quero saber os pedidos emitidos nos ultimos X dias"
              min="1"
              step="1"
            >
          </mat-form-field>

        </div>

      </div>

      <div class="col d-flex flex-column flex-md-row gap-md-3">

        <div class="row w-100">

          <mat-form-field appearance="outline">
              <mat-label>Mínimo de Preço Cheio</mat-label>
              <input
                matInput
                type="text"
                id="input-totalFullPrice"
                formControlName="totalFullPrice"
                appCurrencyMask
                placeholder="Digite o mínimo de preço cheio do pedido"
              >
            </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Mínimo de Promoção</mat-label>
            <input
              matInput
              type="text"
              id="input-totalDiscount"
              formControlName="totalDiscount"
              appCurrencyMask
              placeholder="Digite o mínimo total de promoção do pedido"
            >
          </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Mínimo de Preço Final</mat-label>
            <input
              matInput
              type="text"
              id="input-totalCurrentPrice"
              formControlName="totalCurrentPrice"
              appCurrencyMask
              placeholder="Digite o mínimo de preço final do pedido"
            >
          </mat-form-field>

        </div>

        <div class="row w-100">

          <mat-form-field appearance="outline">
            <mat-label>Mínimo de Preço Pix</mat-label>
            <input
              matInput
              type="text"
              id="input-totalPixPrice"
              formControlName="totalPixPrice"
              appCurrencyMask
              placeholder="Digite o mínimo de preço pix do pedido"
            >
          </mat-form-field>

        </div>

      </div>

      <div class="col d-flex flex-column flex-md-row gap-md-3 align-items-center justify-content-between">

          <div class="d-flex">
            <button
              type="button"
              id="btn-admin-home"
              class="btn d-flex align-items-center gap-2 px-4 py-3 shadow-sm rounded-pill"
              style="background: var(--green); color: white;"
              routerLink="/admin/painel-admin"
            >
              <mat-icon fontSet="material-symbols-outlined">bar_chart</mat-icon>
              <span class="fw-bold" style="font-family: var(--lat);" [class.visually-hidden]="isHandset">Painel Administrativo</span>
            </button>
          </div>

          <div class="d-flex gap-4">

             <div>
              <button
                class="btn btn-warning p-3 px-5 rounded-3 w-100"
                id="btn-reset"
                (click)="resetForm()"
                type="button"
              >
                Limpar
              </button>
            </div>

            <div>
              <button
                class="btn btn-success p-3 px-5 rounded-3 w-100"
                id="btn-filter"
                (click)="onSubmit()"
                type="submit"
              >
                Filtrar
              </button>
            </div>

        </div>

      </div>

    </form>

  </div>

  <hr class="my-0 border-2">

  <div>
    <app-data-table
        [data$]="orderService.orders$"
        [displayedColumns]="columns"
        [useBtnEdit]="false"
        [useBtnActive]="false"
        [useBtnStatus]="true"
        [useBtnLink]="true"
        (status)="changeStatus($event)"
        (link)="redirectToOrder($event)"
      >
    </app-data-table>
  </div>

</section>
