:host {
  display: block;
}

/* --- Cards principais --- */
.dashboard-card {
  background: #ffffff;
  transition: transform 0.2s ease-in-out;
  position: relative;

  &:hover {
    transform: translateY(-3px);
  }

  h3 {
    font-size: 1.6rem;
  }

  .btn-card-action {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    background: transparent;
    border: none;
    color: #333;

    &:hover {
      color: var(--green);
      transform: scale(1.1);
    }
  }

  .titulo {
    min-height: calc(1rem * 2);
    line-height: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.card-sucesso{
  border-left: 3px solid #4CAF50;
  border-top: 3px solid #4CAF50;
}

.card-atencao{
  border-left: 3px solid #FBC02D;
  border-top: 3px solid #FBC02D;
}

.card-alerta{
  border-left: 3px solid #E53935;
  border-top: 3px solid #E53935;
}

.card-informacao{
  border-left: 3px solid #2196F3;
  border-top: 3px solid #2196F3;
}

/* --- Gráficos --- */
.chart-container-doughnut {
  max-width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container-line {
  height: 25rem;
  width: 55rem;
  position: relative;
  z-index: 1;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

section + section {
  margin-top: 2rem;
}

.chart-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Espaçamento geral --- */
section {
  margin-bottom: 1.5rem;
}

h2, h5 {
  color: #212529;
}

.border-green{
  border-left: 4px solid var(--green);
  border-top: 4px solid var(--green);
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .chart-container-doughnut {
    max-width: 250px;
    height: 250px;
  }

  .chart-container-line {
    height: 320px;
    width: auto;
  }

  .dashboard-card h3 {
    font-size: 1.4rem;
  }
}
