:host {
  display: block;
}

/* --- Cards principais --- */
.dashboard-card {
  background: #ffffff;
  border-left: 4px solid var(--green);
  transition: transform 0.2s ease-in-out;
  position: relative;

  &:hover {
    transform: translateY(-3px);
  }

  h3 {
    font-size: 1.6rem;
  }

  .btn-card-action {
    position: absolute;
    top: 0.5rem;
    left: .8rem;
    background: transparent;
    border: none;
    color: #333;

    &:hover {
      color: var(--green);
      transform: scale(1.1);
    }
  }
}

/* --- Gráficos --- */
.chart-container-doughnut {
  max-width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container-line {
  height: 25rem;
  width: 55rem;
  position: relative;
  z-index: 1;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

section + section {
  margin-top: 2rem;
}

.chart-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Espaçamento geral --- */
section {
  margin-bottom: 1.5rem;
}

h2, h5 {
  color: #212529;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .chart-container-doughnut {
    max-width: 250px;
    height: 250px;
  }

  .chart-container-line {
    height: 320px;
    width: auto;
  }

  .dashboard-card h3 {
    font-size: 1.4rem;
  }
}
