<section class="container py-3">

  <!-- 🔹 Cards de visão geral -->
  <div class="row g-3 mb-4">
    @for (card of summaryCards(); track card.title) {
    <div class="col-6 col-md-3">
      <mat-card class="dashboard-card text-center p-3 shadow-sm rounded-4 position-relative">
        <button
          [matTooltip]="`Ir para a listagem de ${card.title}`"
          matTooltipPosition="below"
          mat-icon-button
          (click)="redirectWithFilter(card.filter, card.route)"
          [id]="`btn-redirect-with-filter-${card.title}`"
          type="button"
          class="btn-card-action"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>

        <h6 class="text-muted mb-2">{{ card.title }}</h6>
        <h3 class="fw-bold">{{ card.value }}</h3>
      </mat-card>
    </div>
    }
  </div>

  <!-- 🔹 Gráficos principais -->
  <div class="row g-3 align-items-stretch">
    <div class="col-12 col-lg-5">
      <mat-card class="p-3 shadow-sm rounded-4 h-100">
        <h6 class="mb-3">Pedidos por Status</h6>
        <div class="chart-container-doughnut mx-auto">
          <canvas
            baseChart
            [data]="ordersChartData()"
            [labels]="ordersChartLabels"
            [type]="'doughnut'">
          </canvas>
        </div>
      </mat-card>
    </div>

    <div class="col-12 col-lg-7">
      <mat-card class="p-3 shadow-sm rounded-4 h-100">
        <h6 class="mb-3">Produtos por Categoria</h6>
        <canvas
          baseChart
          [data]="productsChartData()"
          [labels]="productsChartLabels"
          [type]="'bar'"
        >
        </canvas>
      </mat-card>
    </div>
  </div>

  <!-- 📈 Evolução de pedidos -->
  <section class="mt-4 mb-4">
    <h5 class="fw-semibold mb-2 text-center text-md-start">Evolução de Pedidos (últimos 12 meses)</h5>
    <mat-card class="p-3 shadow-sm rounded-4 chart-card">
      <div class="chart-container-line">
        <canvas
          baseChart
          [data]="ordersOverTimeData()"
          [options]="ordersOverTimeOptions"
          [type]="'line'">
        </canvas>
      </div>
    </mat-card>
  </section>

</section>
