@use './reset.scss' as *;

@use 'swiper/css' as *;          // estilos base
@use 'swiper/css/pagination' as *; // estilos da paginação

@use '@angular/material' as mat;

@import 'easymde/dist/easymde.min.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --mer: "Merriweather", sans-serif;
    --rob: "Roboto", sans-serif;
    --lat: "Lato", sans-serif;

    --light-green: linear-gradient(to right,rgba(143, 227, 223, 1),rgba(105, 187, 183, 1));
    --black: rgba(20, 20, 20, 1);
    --white: #FFFFFF;
    --grey: rgb(122, 122, 122);
    --green: rgba(15, 135, 123, 1);
    --pink: #b71c5c;
    --strong-pink:rgba(183, 36, 92, 1);
    --light-gray: rgba(232, 232, 232, 1);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, body { height: 100%; }

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.btn button{
  cursor: pointer;
}

@keyframes spinner-rotate {
  to { transform: rotate(360deg); }
}

.css-spinner {
  width: 64px;
  height: 64px;
  border: 6px solid rgba(255,255,255,.35);
  border-top-color: #fff;
  border-radius: 50%;
  display: block;
  animation-name: spinner-rotate !important;
  animation-duration: 0.8s !important;
  animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;
  will-change: transform;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0,0,0,.35);
}

.spinner-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.editor-preview,
.editor-preview-side,
.markdown-preview{
  font-family: var(--mer);

  strong {
    color: #0F877B; /* seu verde principal */
    font-weight: 600; /* mantém o peso */
  }

  h1, h2, h3, h4, h5 {
    font-family: var(--rob, 'Poppins', 'Roboto', sans-serif);
    font-weight: 600;
    color: #0F877B;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  ul, ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.4rem;
  }

  blockquote {
    border-left: 4px solid #0F877B;
    padding-left: 0.75rem;
    color: #555;
    font-style: italic;
    margin: 1rem 0;
  }
}
