<div class="container-fluid h-100 d-flex justify-content-center align-items-center" style=" background: var(--light-green); font-family: var(--lat);">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-card class="d-flex align-items-center p-5 shadow-lg" style="max-width: 600px; width: 100%;">

      <mat-card-header class="mb-4 px-5">
          <div class="d-flex flex-column gap-2 text-center w-100">
            <mat-card-title class="fw-bold fs-2" style="font-family: var(--lat);" >Faça seu login</mat-card-title>
            <mat-card-subtitle class="fw-semibold fs-5" style="font-family: var(--lat);" >Bem vindo de volta!</mat-card-subtitle>
          </div>
      </mat-card-header>

      <mat-card-content class="w-100 px-5" >

          <div class ="w-100 d-flex flex-column gap-3">

            <div class="w-100 ">
              <mat-form-field floatLabel="always" appearance="outline" class="w-100">

                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  matInput
                  placeholder="Insira seu E-mail"
                  style="font-family: var(--lat);"
                >
                  <mat-label>E-mail</mat-label>
                  <mat-hint>exemplo&#64;exemplo.com</mat-hint>

                  <mat-error *ngIf="hasFormError(loginForm,'email','required')">
                      E-mail é <strong>obrigatório!</strong>
                  </mat-error>

                  <mat-error *ngIf="hasFormError(loginForm,'email','email')">
                      Insira um E-mail <strong>válido!</strong>
                  </mat-error>

              </mat-form-field>
            </div>

            <div class="w-100">
              <mat-form-field floatLabel="always" appearance="outline" class="w-100">

                <input
                  [type]="hide() ? 'password' : 'text'"
                  id="password"
                  formControlName="password"
                  matInput
                  placeholder="Insira sua Senha"
                  style="font-family: var(--lat);"
                >
                  <button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                    style="margin-right: 0.4em;"
                    class="bg-transparent border-0 pe-2"
                  >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                  <mat-label>Senha</mat-label>

                  <mat-error *ngIf="hasFormError(loginForm,'password','required')">
                      Senha é <strong>obrigatório!</strong>
                  </mat-error>

                  <mat-error *ngIf="hasFormError(loginForm,'password','minlength')">
                      Senha precisa ter no mínimo <strong>6 caracteres!</strong>
                  </mat-error>

              </mat-form-field>
            </div>

          </div>

      </mat-card-content>

      <mat-card-actions class="mb-2">
            <button
                class="btn btn-success px-5 py-3"
                type="submit"
                id="button-login"
                [disabled]="!loginForm.valid"
                >
                <strong>LOGIN</strong>
            </button>
      </mat-card-actions>

    </mat-card>

  </form>

</div>
